body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #6bbbaef3 ;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 18px;
    padding: 30px;
    box-shadow: 0 5px 30px rgba(14, 13, 13, 0.2);
}

.header-item {
    padding: 10px;
    background-color: #d3eae6;
    border-radius: 10px;
}

.header-item-hover:hover {
    background-color: #acdbd3;
}

.move-right {
    display: flex;
    flex-direction: row;
}

.padding-top {
    padding-top: 130px;
}


@media (max-width: 40em) {
    .item-hidden {
        display: none;
    }
}

@media (max-width: 40em) {
    .item-bigger {
        width: 15%;
    }
}

@media (max-width: 40em) {
    .font-bigger {
        font-size: 200%;
    }
}

.main-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: inherit;
    margin-top: 120px;
    background-image: url("image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

@media (max-width: 40em) {
    .main-container {
        width: 300%;
        margin-left: 0;
        margin-right: 0;
    }
}

.white-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff80;
    padding-left: 300px;
    padding-right: 300px;
}

.my-logo {
    border-radius: 10px;
}

@media (max-width: 40em) {
    .logo-fixed {
        display: none;
    }
}


#gda {
    font-size: 800%;
    color: #02011e;
    margin-bottom: 0;
}

#gda-p {
    padding-left: 100px;
    padding-right: 100px;
}

.title {
    font-size: 38px;
}

.blue-background {
    background-color: #73d6c6c9;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
}

.black-white {
    background-color: #02011e;
    color: #fff;
    width: fit-content;
    padding: 10px;
}

.logo {
    width: 120px;
    border-radius: 20px;
    box-shadow: 0 5px 30px #fff;
}

.info-under-main {
    text-align: center;
    font-size: 30px;
    color: #73d6c5;
    font-weight: bolder;
}

@media (max-width: 40em) {
    .info-under-main {
        width: 300%;
    }
}

.btn-appeler {
    padding: 15px;
    background-color: #f87970;
    font-size: 35px;
    border-radius: 10px;
    border: none;
    color: #fff;
}

.btn-appeler:hover {
    background-color: #f8aba68c;
    color: #f87970;    
}

.tem {
    text-decoration: underline;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.tem-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 30px;
}

.tem-items {
    height: auto;
    width: 250px;
}

.checked {
    color: orange;
  }

.tem-name {
    color: #6bbbaef3;
    font-weight: bolder;
}

@media (max-width: 40em) {
    .tem {
        width: 300%;
        padding-bottom: 30px;
    }
}

@media (max-width: 40em) {
    .tem-container {
        width: 300%;
        text-align: center;
        justify-content: space-around;
        margin: 0;
    }
}

.info {
    background-color: #f3f4f6;
}

.info-white-box {
    background-color: #fff;
    color: #000; 
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    border-top: 3px solid #f87970;
}

.info-button {
    background-color: #f87970;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
}

.info-button:hover {
    background-color: #fff;
    color: #f87970;
}

.info-ul {
    font-weight: bold;
    font-size: 23px;
}

.info-text {
    font-size: 19px;
}

@media (max-width: 40em) {
    .info {
        width: 300%;
        text-align: center;
        justify-content: space-around;
        margin: 0;
    }
}

.galerie {
    background-color: #02011e;
    color: #fff;
    padding-top: 10px;
}

.gal-headline {
    text-align: center;
    color: #000;
    text-decoration: underline;
}

.gal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 100px;
    gap: 10px;
}

@media (max-width: 40em) {
    .galerie, .gal-headline {
        width: 300%;
    }
}

.gal-item {
    width: 150px;
    height: 150px;
    border: 3px solid green;
}

