body {
    margin: 0;
}


header {
    background-color: blueviolet;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 24px;
    padding: 20px;
}

.move-right {
    display: flex;
    flex-direction: row;
}


.padding-top {
    padding-top: 130px;
}


@media (max-width: 40em) {
    .item-hidden {
        display: none;
    }
}

@media (max-width: 40em) {
    .item-bigger {
        width: 15%;
    }
}

@media (max-width: 40em) {
    .font-bigger {
        font-size: 200%;
    }
}