body {
    margin: 0;
}


header {
    background-color: #6bbbae ;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 24px;
    padding: 30px;
    box-shadow: 0 5px 30px rgba(14, 13, 13, 0.2);
}

.header-item {
    padding: 10px;
    background-color: #d3eae6;
    border-radius: 10px;
}

.header-item-hover:hover {
    background-color: #acdbd3;
}

.move-right {
    display: flex;
    flex-direction: row;
}


.padding-top {
    padding-top: 130px;
}


@media (max-width: 40em) {
    .item-hidden {
        display: none;
    }
}

@media (max-width: 40em) {
    .item-bigger {
        width: 15%;
    }
}

@media (max-width: 40em) {
    .font-bigger {
        font-size: 200%;
    }
}

.main-text {
    background-image: ;
}