
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #6bbbaecc ;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 18px;
    padding: 30px;
    box-shadow: 0 5px 30px rgba(14, 13, 13, 0.2);
}

.header-item {
    padding: 10px;
    background-color: #d3eae6;
    border-radius: 10px;
}

.header-item-hover:hover {
    background-color: #acdbd3;
}

.move-right {
    display: flex;
    flex-direction: row;
}

.padding-top {
    padding-top: 130px;
}


@media (max-width: 40em) {
    .item-hidden {
        display: none;
    }
}

@media (max-width: 40em) {
    .item-bigger {
        width: 15%;
    }
}

@media (max-width: 40em) {
    .font-bigger {
        font-size: 200%;
    }
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: inherit;
    margin-top: 120px;
    background-image: url("image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.white-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff80;
    padding-left: 300px;
    padding-right: 300px;
}

.my-logo {
    border-radius: 10px;
}

@media (max-width: 40em) {
    .logo-fixed {
        position: absolute;
        left: 0;
        top: 0;
        margin: 28px;
        width: 15%;
    }
}

@media (max-width: 40em) {
    .my-logo {
        width: 80%;
    }
}


#gda {
    font-size: 800%;
    color: #02011e;
    margin-bottom: 0;
}

#gda-p {
    padding-left: 100px;
    padding-right: 100px;
}

.info-dep {
    font-size: 38px;
}

.blue-background {
    background-color: #6bbbaecc;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
}

.black-white {
    background-color: #02011e;
    color: #fff;
    width: fit-content;
    padding: 10px;
}



.logo {
    width: 120px;
    border-radius: 20px;
    box-shadow: 0 5px 30px #fff;
}
